.class_h1
{
    color:yellow;
}
#page_title
{
    color:blue;
}
h3
{
    color:green;
}
.h1_blue
{
    color:blue;
}
#h2_title
{
    color:#8a2be2;
}
h3
{
    color:rgb(0,255,0);
}
.inline_style
{
    font-style: italic;
}
.p_border
{
    border:solid brown 5px;
}
.container
{
    text-align: center 1080px;
}