/* *{
    background-color: aquamarine;
}
h1{
    color:blue;
}(universal selectors) */
/* .Head_one
{
    background-color: aqua;
    color:aliceblue;
}
.Head_Two
{
    background-color: rgb(135, 106, 162);
    color:bisque;
    font-size:large;
    font-family:cursive;
} */
/* h1,h2,h3{
    background-color: rgb(27, 235, 107);
    color: rgb(165, 64, 136);
} */
/* .head_Three
{
    background-color: rgb(86, 86, 144);
    color: aquamarine;
    font-size: medium;
} */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.main_div{
    height: 600px;
    width: 700px;
    background-color: #b14848;
    color: rgb(12, 12, 16);
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 200px;
    max-width: 1080px;
    border:solid ;
}
.second_div{
    height:300px;
    width: 400px;
    background-color: aqua;
    color: rgb(18, 14, 9);
    border:solid ;
}
